@model DatabaseLayer.LabAppointTable

@{
    ViewBag.Title = "Appointment";
}

<h2>Approve Appointment</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.LabAppointID)
    @Html.HiddenFor(model => model.PatientID)
    @Html.HiddenFor(model => model.LabID)
    @Html.HiddenFor(model => model.LabTestID)
    @Html.HiddenFor(model => model.IsComplete)
    @Html.HiddenFor(model => model.Description)
    @Html.HiddenFor(model => model.TransectionNo)


    <div class="form-group">
        @Html.LabelFor(model => model.LabTimeSlotID, "Appointment Time Slot", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("LabTimeSlotID", null, "Time Slot", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LabTimeSlotID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AppointDate, "Appointment Date", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AppointDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AppointDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IsFeeSubmit, "Payment Verify",htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.IsFeeSubmit)
                @Html.ValidationMessageFor(model => model.IsFeeSubmit, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="generic-btn success" />
            @Html.ActionLink("Back to List", "PendingAppoint",null,new { @class = "generic-btn default"})
        </div>
    </div>
</div>
}
